on:
  schedule:
    # every hour
    - cron: "0 * * * *"
  workflow_dispatch:

name: Sync zizmor versions

env:
  BRANCH_NAME: sync-zizmor-versions

jobs:
  sync-versions:
    name: Sync zizmor versions
    runs-on: ubuntu-latest
    permissions:
      contents: write # to create PR branches
      pull-requests: write # to create PRs
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install dependencies
        run: apt install -y skopeo jq

      - name: Sync zizmor versions
        run: ./support/sync-zizmor-versions.sh > ./support/zizmor-versions

      - name: Create or update pull request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          branch: ${{ env.BRANCH_NAME }}
          delete-branch: true
          commit-message: Sync zizmor versions
          title: Sync zizmor versions
          body: This PR was created automatically to sync the zizmor versions used in workflows and other places.
          assignees: woodruffw
          draft: true
